@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap');

.text-gray {
  border: 1px solid rgb(190, 190, 190);
  margin: auto;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #858694;
  color: white; 
  font-weight: bold;
}

.text-gray h1 {
  padding: 10px;
}

.gray {
  background-color: #E0E0E0;
}

.orange {
  background-color: #F5913E;
}

.calculator-base {
  width: 700px;
  margin: auto;
}

.row-button{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resize{
  display: flex;
  flex-direction: row;
  height: 100px;
}

/* NAVBAR */

.bg-black{
  background-color: rgba(0, 0, 0, 0.904);
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
  padding: 10px;
}

.regular {
  font-weight: 600;
  font-size: medium;
}

.bold {
  font-weight: 900;
}

.navbar {
  height: 20vh;
  background-image: url('images/math.jpg');
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  max-width: 1200px;
  justify-content: space-around;
  flex-direction: row;
}
