.text-gray {
  border: 1px solid rgb(190, 190, 190);
  margin: auto;
  text-align: end;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #858694;
  color: white; 
  font-weight: bold;
}

.text-gray h1 {
  padding: 10px;
}

.gray {
  background-color: #E0E0E0;
}

.orange {
  background-color: #F5913E;
}

.calculator-base {
  width: 700px;
  margin: auto;
}


.row-button{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.resize{
  display: flex;
  flex-direction: row;
  height: 100px;
}


